@{
    ViewBag.Title = "ApplicantDescriptionofInterests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ePermit</h1>


<article>
    <h2 data-submenu="6">Application Description of Interests</h2>
    <textarea id='apptextarea' placeholder="Application Description of Interests"></textarea>
    <br />    

    <fieldset class="setapart">
    <legend>Attachments</legend>
        @Html.Partial("_attachmentTable")
    </fieldset>

    <button value="Submit" id="ShowComments" title="Deficiency" class="CommentsButton">Deficiency ▼</button>
    <div id="Comments" class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>

    <button class="primary">Save</button>
    <button class="secondary">Reset</button>
</article>
