@{
    ViewBag.Title = "Application Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ePermit</h1>

<article>
    <h2 data-submenu="0">Application Form&nbsp;/&nbsp;Verification</h2>

    <fieldset class="setapart">
    <legend>Attachments</legend>
        @Html.Partial("_attachmentTable")
    </fieldset>
    
    <button value="Submit" id="ShowComments" title="Deficiency" class="CommentsButton">Deficiency ▼</button>
    <div id="Comments" class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>
    <p>&nbsp;</p>

</article>

