<table class="BorderlessTable">
    <tbody>
        <tr>
            <td>
                <input type="checkbox">
                Beaverhead </td>
            <td>
                <input type="checkbox">
                Granite </td>
            <td>
                <input type="checkbox">
                Powell </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox">
                Big Horn </td>
            <td>
                <input type="checkbox">
                Hill </td>
            <td>
                <input type="checkbox">
                Prairie </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox">
                Blaine </td>
            <td>
                <input type="checkbox">
                Jefferson </td>
            <td>
                <input type="checkbox">
                Ravalli </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox">
                Broadwater </td>
            <td>
                <input type="checkbox">
                Judith Basin </td>
            <td>
                <input type="checkbox">
                Richland </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox">
                Carbon </td>
            <td>
                <input type="checkbox">
                Lake </td>
            <td>
                <input type="checkbox">
                Roosevelt </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox">
                Carter </td>
            <td>
                <input type="checkbox">
                Lewis and Clark </td>
            <td>
                <input checked="checked" type="checkbox">
                Rosebud </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox">
                Cascade </td>
            <td>
                <input type="checkbox">
                Liberty </td>
            <td>
                <input type="checkbox">
                Sanders </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox">
                Chouteau </td>
            <td>
                <input type="checkbox">
                Lincoln </td>
            <td>
                <input type="checkbox">
                Sheridan </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox">
                Custer </td>
            <td>
                <input type="checkbox">
                Madison </td>
            <td>
                <input type="checkbox">
                Silver Bow </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox">
                Daniels </td>
            <td>
                <input type="checkbox">
                McCone </td>
            <td>
                <input type="checkbox">
                Stillwater </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox">
                Dawson </td>
            <td>
                <input type="checkbox">
                Meagher </td>
            <td>
                <input type="checkbox">
                Sweet Grass </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox">
                Deer Lodge </td>
            <td>
                <input type="checkbox">
                Mineral </td>
            <td>
                <input type="checkbox">
                Teton </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox">
                Fallon </td>
            <td>
                <input type="checkbox">
                Missoula </td>
            <td>
                <input type="checkbox">
                Toole </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox">
                Fergus </td>
            <td>
                <input type="checkbox">
                Musselshell </td>
            <td>
                <input checked="checked" type="checkbox">
                Treasure </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox">
                Flathead </td>
            <td>
                <input type="checkbox">
                Park </td>
            <td>
                <input type="checkbox">
                Valley </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox">
                Gallatin </td>
            <td>
                <input type="checkbox">
                Petroleum </td>
            <td>
                <input type="checkbox">
                Wheatland </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox">
                Garfield </td>
            <td>
                <input type="checkbox">
                Phillips </td>
            <td>
                <input type="checkbox">
                Wibaux </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox">
                Glacier </td>
            <td>
                <input type="checkbox">
                Pondera </td>
            <td>
                <input type="checkbox">
                Yellowstone </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox">
                Golden Valley </td>
            <td>
                <input type="checkbox">
                Powder River </td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>
    <div style="clear: both;">
        <button class="primary">Save</button>
      <button class="secondary">Cancel</button>
    </div>