<fieldset class="setapart">
    <legend>Enter Suspensions or Revocations</legend>
    <label for="permitid">Permit ID</label><input type="text" title="permitid" id="permitid" name="permitid" required="" />
    <label>Date of Issuance</label><input type="text" title="Issuance" class="datepicker" name="Issuance" value="mm/dd/yy" required />
    <label for="regulatoryauthority">Name of Regulatory Authority</label><input type="text" title="regulatoryauthority" id="regulatoryauthority" name="regulatoryauthority" required="" />
    <label for="reasonforaction">Reason for Action</label><input type="text" title="reasonforaction" id="reasonforaction" name="reasonforaction" required="" />
    <label for="currentstatus">Current Status</label><input type="text" title="currentstatus" id="currentstatus" name="currentstatus" required="" />
    <label>Type of Proceedings</label>
    <select>
        <option>Administrative</option>
        <option>Judicial</option>
    </select>
    <label>Date of Proceedings</label><input type="text" title="Proceedings" class="datepicker" name="Proceedings" value="mm/dd/yy" required />
    <label for="locationofproceedings">Location of Proceedings</label><input type="text" title="locationofproceedings" id="locationofproceedings" name="locationofproceedings" required="" />
    <label for="currentstatusofproceedings">Current Status of Proceedings</label><input type="text" title="currentstatusofproceedings" id="currentstatusofproceedings" name="currentstatusofproceedings" required="" />
</fieldset>

<br />
<div class="text-left" style="clear: both; text-align: left;">
    <button class="primary">Save</button>
    <button class="secondary">Cancel</button>
</div>

