<fieldset class="setapart">
    <legend>Enter Suspensions or Revocations</legend>
    <label for="permitid">Permit ID</label><input type="text" title="permitid" id="permitid" name="permitid" required="" />
    <label>Date of Issuance</label><input type="text" title="Issuance" class="datepicker" name="Issuance" value="mm/dd/yy" required />
    <label for="regulatoryauthority">Name of Regulatory Authority</label><input type="text" title="regulatoryauthority" id="regulatoryauthority" name="regulatoryauthority" required="" />
    <label for="reasonforaction">Reason for Action</label><input type="text" title="reasonforaction" id="reasonforaction" name="reasonforaction" required="" />
    <label for="currentstatus">Current Status</label><input type="text" title="currentstatus" id="currentstatus" name="currentstatus" required="" />
    <label>Type of Proceedings</label>
    <select>
        <option>Administrative</option>
        <option>Judicial</option>
    </select>
    <label>Date of Proceedings</label><input type="text" title="Proceedings" class="datepicker" name="Proceedings" value="mm/dd/yy" required />
    <label for="locationofproceedings">Location of Proceedings</label><input type="text" title="locationofproceedings" id="locationofproceedings" name="locationofproceedings" required="" />
    <label for="currentstatusofproceedings">Current Status of Proceedings</label><input type="text" title="currentstatusofproceedings" id="currentstatusofproceedings" name="currentstatusofproceedings" required="" />
</fieldset>



<fieldset class="setapart">
    <legend>Compliance with 82-4-251 MCA Attachments</legend>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date Uploaded</th>
                <th>User</th>
                <th style="text-align: center;">Edit&nbsp;/&nbsp;Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">My First Attachment File.pdf</a></td>
                <td>3/26/2013</td>
                <td>JB</td>
                <td style="text-align: center;">
                    <button class="selectx">X</button></td>
            </tr>
            <tr>
                <td><a href="#">My Second Attachment File.pdf</a></td>
                <td>7/18/2013</td>
                <td>JB</td>
                <td style="text-align: center;">
                    <button class="selectx">X</button></td>
            </tr>
        </tbody>
    </table>


    <div class="text-right" style="text-align: right;">
        <button class="tertiary"><span class="plussymbol">+</span>&nbsp;Add New</button>
    </div>
</fieldset>
<br />
<div class="text-left" style="clear: both; text-align: left;">
    <button class="primary">Save</button>
    <button class="secondary">Cancel</button>
</div>

