@{
    ViewBag.Title = "Ownership Control";
}


<h1>ePermit</h1>


<article>
    <h2 data-submenu="4">Ownership and Control-AVS</h2>

    @*applicant information heading and table*@
    <fieldset class="setapart">
        <legend>Applicant Contact Information</legend>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Date Position Assumed</th>
                    <th>Date of Departure</th>
                    <th style="text-align: center;">Edit&nbsp;/&nbsp;Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Regina Elmose</td>
                    <td>Intern</td>
                    <td>10/18/2013</td>
                    <td></td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                    <button class="delete" title="Delete">Delete</button></td>
                </tr>
                <tr>
                    <td>Regina Elmose</td>
                    <td>Intern</td>
                    <td>10/18/2013</td>
                    <td>01/24/2014</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                    <button class="delete" title="Delete">Delete</button></td>
                </tr>
            </tbody>
        </table>
        <div class="text-right" style="text-align:right;">
        <button value="AddNew" title="Enter Ownership and Control Information" class="modal3 tertiary"><span class="plussymbol">+</span>&nbsp;Add New</button>
        <div class="dialogbox3" style="display: none;" title="Enter Ownership and Control Information">
            @Html.Partial("OwnershipControlInformation")
        </div>
    </div>
    </fieldset>

    <fieldset class="setapart">
        <legend>Applicant Org Chart Attachments</legend>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Uploaded</th>
                    <th>User</th>
                    <th style="text-align: center;">Edit&nbsp;/&nbsp;Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>C2013025</td>
                    <td>8675309A</td>
                    <td>2013-02-28</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                    <button class="delete" title="Delete">Delete</button></td>
                </tr>
                <tr>
                    <td>2013-03-03</td>
                    <td>2013-05-31</td>
                    <td>2013-02-28</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                    <button class="delete" title="Delete">Delete</button></td>
                </tr>
            </tbody>
        </table>
       <div class="text-right" style="text-align: right;">
            <button class="tertiary"><span class="plussymbol">+</span>&nbsp;Add New</button>
        </div>
    </fieldset>
  
    <fieldset class="setapart">
        <legend>Corporate Information Attachments</legend>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Uploaded</th>
                    <th>User</th>
                    <th style="text-align: center;">Edit&nbsp;/&nbsp;Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>C2013011</td>
                    <td>1234309A</td>
                    <td>2013-02-28</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                    <button class="delete" title="Delete">Delete</button></td>
                </tr>
                <tr>
                    <td>2012-03-03</td>
                    <td>2013-02-28</td>
                    <td>2013-02-28</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                    <button class="delete" title="Delete">Delete</button></td>
                </tr>
            </tbody>
        </table>
        <div class="text-right" style="text-align: right;">
            <button class="tertiary"><span class="plussymbol">+</span>&nbsp;Add New</button>
        </div>
    </fieldset>

    <button value="Submit" id="ShowComments" title="Deficiency" class="CommentsButton">Deficiency ▼</button>
        <div id="Comments" class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>
   
        <button class="primary">Save</button>
</article>

