@{
    ViewBag.Title = "FacilitiesReclamation";
}

<h1>ePermit</h1>

<article>
    <h2 data-submenu="10">Facilities Reclamation Plan</h2>
    <textarea class="planstextarea" id='FacilitiesReclamationPlanDescription' placeholder="Facilities Reclamation Plan "></textarea>
    <fieldset class="setapart">
        <legend>Attachments</legend>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Uploaded</th>
                    <th>User</th>
                    <th style="text-align: center;">Edit&nbsp;/&nbsp;Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">My First Attachment File.pdf</a></td>
                    <td>3/26/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">My Second Attachment File.pdf</a></td>
                    <td>7/18/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-right" style="text-align: right;">
            <button class="tertiary"><span class="plussymbol">+</span>&nbsp;Add New</button>
        </div>
    </fieldset>
    <fieldset class="setapart">
        <legend>Coal Preparation Plant&nbsp;/&nbsp;Processing Plan&nbsp;/&nbsp;Support Facility</legend>
        <p>Does the operation intend to operate a coal preparation plant, processing plant or support facility not located within a permit area? (If yes, please include 17.24.327(2) in your operation and reclamation plans.)</p>
        <p>
            <input id="yes" type="radio" name="radios" value="yes" />Yes
     <input id="no" type="radio" name="radios" value="no" />No
        </p>
        <p style="color: #f26522;">If YES, attach required documentation here.</p>

        <h4>Attachments</h4>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Uploaded</th>
                    <th>User</th>
                    <th style="text-align: center;">Edit&nbsp;/&nbsp;Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">My First Attachment File.pdf</a></td>
                    <td>3/26/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">My Second Attachment File.pdf</a></td>
                    <td>7/18/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-right" style="text-align: right;">
            <button class="tertiary"><span class="plussymbol">+</span>&nbsp;Add New</button>
        </div>
    </fieldset>
    <button value="Submit" id="ShowComments" title="Deficiency" class="CommentsButton Primary">Deficiency ▼</button>
    <div id="Comments" class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>
    <button class="primary">Save</button>
    <button class="secondary">Reset</button>

</article>

