<fieldset class="setapart">
    <legend>Map File</legend>
    <input type="file" placeholder="Select a Map" /><button class="primary">Upload</button>
</fieldset>

@Html.Partial("_mapLayers")

<button class="primary">Save</button>
<button class="secondary">Cancel</button>
        

