<aside id="HomeFilters" style="padding-left:0.5em;">
    <h4>Filter Results</h4>

    
    <p>
        <select style="padding-right: 0em;">
            <option>Permit ID</option>
            <option>C1978011</option>
            <option>C1979012</option>
            <option>C1981003E</option>
            <option>C1983004CR</option>
            <option>C1983007</option>
            <option>C1984002</option>
            <option>C1984003B</option>
            <option>C1985003C</option>
            <option>C1985005</option>
            <option>C1986003A</option>
            <option>C1986003D</option>
            <option>C1986016</option>
            <option>C1987001C</option>
            <option>C1988004B</option>
            <option>C1993017</option>
            <option>C2011003F</option>
            <option>C2012018</option>
        </select>
    </p>

    <div id="lookup-wrapper" style="top:0; right:0; float:none;">
        <input id="lookup" type="text" placeholder="Lookup" value="" name="q">
        <input id="lookup-button" type="button">
    </div>
    
    <fieldset class="setapart" style="width:80%;">
        <legend>Application Type</legend>
            <input type="checkbox" name="Mining" value="x" checked="checked" />New Permit
               <br />
            <input type="checkbox" name="Mining" value="x" checked="checked" />Amendment
               <br />
            <input type="checkbox" name="Mining" value="x" checked="checked" />Major Revision
               <br />
            <input type="checkbox" name="Mining" value="x" checked="checked" />Minor Revision
               <br />
            <input type="checkbox" name="Mining" value="x" checked="checked" />Renewal
               <br />
            <input type="checkbox" name="Mining" value="x" checked="checked" />Bond Release
    </fieldset>
    <fieldset class="setapart" style="width:80%;">
        <legend>Status</legend>
            <input type="checkbox" name="Mining" value="x" checked="checked" />Draft
               <br />
            <input type="checkbox" name="Mining" value="x" checked="checked" />Completeness Review
               <br />
            <input type="checkbox" name="Mining" value="x" checked="checked" />Deficiency
               <br />
            <input type="checkbox" name="Mining" value="x" checked="checked" />Technical Review
               <br />
            <input type="checkbox" name="Mining" value="x" checked="checked" />Awaiting Decision
               <br />
            <input type="checkbox" name="Mining" value="x" checked="checked" />Approved
               <br />
            <input type="checkbox" name="Mining" value="x" checked="checked" />Withdrawn
    </fieldset>
</aside>