<aside>
@*    <ul id="filternav">
        <li>ePermit
            <ul>
                <li>Admin
                    <ul>
                        <li><a href="">Application Form/Verification</a></li>
                        <li><a href="">Contact Information</a></li>
                        <li><a href="">Location</a></li>
                        <li><a href="">Surface &amp; Mineral Ownership</a></li>
                        <li><a href="">Ownership &amp; Control</a></li>
                        <li><a href="">Mine Site Information</a></li>
                        <li><a href="">Applicant Description of Interests</a></li>
                        <li><a href="">Non-Compliance (Suspension, Revocations, and Bond Forfeitures)</a></li>
                        <li><a href="">Violations &amp; Cessations</a></li>
                        <li><a href="">Legal Right to Enter</a></li>
                        <li><a href="">Status of Private Mineral/Surface Estate</a></li>
                        <li><a href="">Lands Unsuitable</a></li>
                        <li><a href="">Insurance</a></li>
                        <li><a href="">Other Permits (Coal &amp; Non-Coal)</a></li>
                        <li><a href="">Public Copy of Application</a></li>
                        <li><a href="">Proof of Publication</a></li>
                        <li><a href="">Bonding</a></li>
                        <li><a href="">Historic Mining</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>*@

</aside>