    <div id="tabs">
        <ul id="guide">
            <li><a href="#tabs-1">Tips</a></li>
            <li><a href="#tabs-2">Rules</a></li>
            <li><a href="#tabs-3">Templates</a></li>
        </ul>                          
        <div class="tab_container">                   
            <div id="tabs-1">
                <h4>Tips</h4>
                <ul>
                    <li>Answer 'Yes' if ANY exemptions are being claimed or if an area is under study. If in doubt contact DEQ at 406.444.4444</li>
                </ul>
            </div>
            <div id="tabs-2">
                <h4>Rules</h4>
                <ol>
                    <li>All exemptions must be identfied in the attachments.</li>
                    <li>All areas under study must be identfied and accounted for in the attachments.</li>
                </ol>
            </div>
            <div id="tabs-3">
                <fieldset class="setapart">
                    <legend>Add New Templates</legend> 
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date Uploaded</th>
                                <th>User</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#">Template1.pdf</a></td>
                                <td>10/11/2013</td>
                                <td>Ashley</td>
                            </tr>
                            <tr>
                                <td><a href="#">Template2.pdf</a></td>
                                <td>10/11/2013</td>
                                <td>Ashley</td>
                            </tr>
                            <tr>
                                <td><a href="#">Template3.pdf</a></td>
                                <td>10/14/2013</td>
                                <td>Ashley</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right" style="text-align:right;">
                        <button class="tertiary">+&nbsp;Add New</button>
                        <button class="tertiary">Delete</button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>