<h3>Map Layers</h3>
<br />
<table class="checkboxtable">
    <tr><td><input type="checkbox"/>&nbsp;Adjacent Permits</td><td><input type="checkbox"/>&nbsp;Historic Land Use</td><td><input type="checkbox"/>&nbsp;Reclamation Fields</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Aerial Imagery</td><td><input type="checkbox"/>&nbsp;Historic Mining</td><td><input type="checkbox"/>&nbsp;Reclamation Plan</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Agricultural Land Use</td><td><input type="checkbox"/>&nbsp;Historic Mine Plan Mined-out Prior to October 22, 2004</td><td><input type="checkbox"/>&nbsp;Renewable Resource Lands</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Air Pollution Control Facilities</td><td><input type="checkbox"/>&nbsp;Historic Mine Plan Non-mined-out Prior to October 22, 2004</td><td><input type="checkbox"/>&nbsp;Reservoirs</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Air Quality Monitoring Stations</td><td><input type="checkbox"/>&nbsp;Impoundments</td><td><input type="checkbox"/>&nbsp;Roads</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Alluvial Valley Floors</td><td><input type="checkbox"/>&nbsp;Infrared Aerial Imagery</td><td><input type="checkbox"/>&nbsp;Scenic Sites</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Alternative Water Supplies</td><td><input type="checkbox"/>&nbsp;Interburden Isopach</td><td><input type="checkbox"/>&nbsp;Sealed Bore Holes, Sealed Mine Openings, Sealed Wells, and Other Sealed Openings</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Archaeological Sites</td><td><input type="checkbox"/>&nbsp;Irrigation Ditches</td><td><input type="checkbox"/>&nbsp;Seeded/Planted Areas</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Aquifers</td><td><input type="checkbox"/>&nbsp;Isopach Layers</td><td><input type="checkbox"/>&nbsp;Soil & Spoil Stockpiles</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Bridges</td><td><input type="checkbox"/>&nbsp;Lakes, Impoundments, Ponds, Dams, Traps, Reservoirs</td><td><input type="checkbox"/>&nbsp;Soil Mapping Units</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Buildings & Facilities</td><td><input type="checkbox"/>&nbsp;Landfarm</td><td><input type="checkbox"/>&nbsp;Soil Sample Locations & Depths</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Cemeteries</td><td><input type="checkbox"/>&nbsp;Lands Designated Unsuitable</td><td><input type="checkbox"/>&nbsp;Soil Survey</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Cleaning & Loading Areas</td><td><input type="checkbox"/>&nbsp;Landuse</td><td><input type="checkbox"/>&nbsp;Spill Site</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Coal Crop Lines</td><td><input type="checkbox"/>&nbsp;LOM Disturbance</td><td><input type="checkbox"/>&nbsp;Springs</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Coal Processing Facilities</td><td><input type="checkbox"/>&nbsp;LOM Mine Plan</td><td><input type="checkbox"/>&nbsp;Stockpiles</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Coal Seam Isopach</td><td><input type="checkbox"/>&nbsp;LOM Permit Boundary</td><td><input type="checkbox"/>&nbsp;Streamlaid Deposits</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Coal Storage Areas</td><td><input type="checkbox"/>&nbsp;Low-Water Crossings</td><td><input type="checkbox"/>&nbsp;Streams</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Contour Layers</td><td><input type="checkbox"/>&nbsp;Mine Plan</td><td><input type="checkbox"/>&nbsp;Subsidence Areas</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Conveyors</td><td><input type="checkbox"/>&nbsp;Mineral Ownership</td><td><input type="checkbox"/>&nbsp;Subsidence Monitoring Point</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Croplines</td><td><input type="checkbox"/>&nbsp;Monitoring Wells</td><td><input type="checkbox"/>&nbsp;Surface Ownership</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Cultural Reource Sites</td><td><input type="checkbox"/>&nbsp;National Historic Sites</td><td><input type="checkbox"/>&nbsp;Surface Water Discharge Locations (MPDES)</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Culverts</td><td><input type="checkbox"/>&nbsp;National Trails</td><td><input type="checkbox"/>&nbsp;Surface Water Intakes</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Cumulative Bond Release Areas</td><td><input type="checkbox"/>&nbsp;NRHP Eligible Sites</td><td><input type="checkbox"/>&nbsp;Surface Water Monitoring Stations</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Dams</td><td><input type="checkbox"/>&nbsp;NRHP Locations</td><td><input type="checkbox"/>&nbsp;Test Bore Holes</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Ditches</td><td><input type="checkbox"/>&nbsp;Occupied Dwellings</td><td><input type="checkbox"/>&nbsp;Township, Range, Section</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Diversions</td><td><input type="checkbox"/>&nbsp;Oil & Gas Wells</td><td><input type="checkbox"/>&nbsp;Unconsolidated Deposits</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Irrigation Ditches</td><td><input type="checkbox"/>&nbsp;Overburden Isopach</td><td><input type="checkbox"/>&nbsp;Underground Mine Workings</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Drainage Basins (Divides)</td><td><input type="checkbox"/>&nbsp;Permit Boundary</td><td><input type="checkbox"/>&nbsp;Unique Geologic Formations</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Drainage Boundaries</td><td><input type="checkbox"/>&nbsp;Pipelines</td><td><input type="checkbox"/>&nbsp;Unmined Coal</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Drainage Ditches</td><td><input type="checkbox"/>&nbsp;Postmine Drainage Basins</td><td><input type="checkbox"/>&nbsp;Utility Lines and Corridors</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Drainage Structures</td><td><input type="checkbox"/>&nbsp;Postmine Streams</td><td><input type="checkbox"/>&nbsp;Vegetation Reference Areas</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Excess Spoil Disposal Sites/Fill Locations</td><td><input type="checkbox"/>&nbsp;Postmine Topography (PMT)</td><td><input type="checkbox"/>&nbsp;Vegetation Survey</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Existing Disturbance Areas</td><td><input type="checkbox"/>&nbsp;Postmine Revegetation Communities</td><td><input type="checkbox"/>&nbsp;Waste Disposal Area</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Explosives Storage Facilities</td><td><input type="checkbox"/>&nbsp;Premine Drainage Basins</td><td><input type="checkbox"/>&nbsp;Waste Disposal Structures</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Farms and Ranches</td><td><input type="checkbox"/>&nbsp;Premine Drainage Boundaries</td><td><input type="checkbox"/>&nbsp;Water Quality Treatment Facilities</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Fish and Wildlife Monitoring Stations</td><td><input type="checkbox"/>&nbsp;Premine Drainage Divides</td><td><input type="checkbox"/>&nbsp;Water Supply Wells</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Flood Irrigated Lands</td><td><input type="checkbox"/>&nbsp;Premine Land Use</td><td><input type="checkbox"/>&nbsp;Water Supply Locations</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Garbage Dump</td><td><input type="checkbox"/>&nbsp;Premine Streams</td><td><input type="checkbox"/>&nbsp;Water Tanks</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Geologic Cross Sections</td><td><input type="checkbox"/>&nbsp;Premine Topography</td><td><input type="checkbox"/>&nbsp;Watersheds</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Geologic Maps (Geologic Units)</td><td><input type="checkbox"/>&nbsp;Premine Veg Community Types</td><td><input type="checkbox"/>&nbsp;Wild & Scenic Rivers</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Groundwater Contours</td><td><input type="checkbox"/>&nbsp;Public Parks</td><td><input type="checkbox"/>&nbsp;Wildlife Enhancement Features</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Groundwater Flow Direction</td><td><input type="checkbox"/>&nbsp;Public Road (including right-of-way)</td><td><input type="checkbox"/>&nbsp;Wildlife Habitats</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Groundwater Monitoring Wells</td><td><input type="checkbox"/>&nbsp;Rail Loops</td><td><input type="checkbox"/>&nbsp;Wildlife Survey Area</td></tr>
    <tr><td><input type="checkbox"/>&nbsp;Historic Flood Irrigation Areas</td><td><input type="checkbox"/>&nbsp;Ramps and Haul Roads</td><td></td></tr>
</table>