
    
    <label for="">Pond ID</label>
    <input type="text" />

    <label for="">Design Attachment</label>
    <input type="file" />

    <label for="">As-Built Attachment</label>
    <input type="file" />
    
    <p>&nbsp;</p>
    <div>
        <button class="primary">Save</button>
        <button class="secondary">Cancel</button>
    </div>
