                    <script type="text/javascript"><!--mce:0--></script>
                    <div id="tabContainer">
                        <ul id="primarynav">
                            <li id="tabepermit"><a href="~/ePermit/GetePermitTab" title="ePermitting Application" class="epermit" id="tabepermita">ePERMIT</a></li>
                            <li id="tabbond"><a href="~/BondEstimates/GetBondEstimatesTab" title="Bond Estimations" class="bond" id="tabbonda">BOND ESTIMATES</a></li>
                            <li id="tabinspection"><a href="~/Inspections/GetInspectionsTab" title="Field Inspections" class="inspections" id="tabinspectiona">INSPECTIONS</a></li>
                            <li id="tabcoalpc"><a href="~/CoalPC/GetCoalPCTab" title="Permitting and Compliance" class="pc" id="tabcoalpca">COAL P&amp;C</a></li>
                            <li id="tabrules"><a href="~/ePermitRules/Index" title="ePermitting Rules" class="rules" id="tabrules">Rules</a></li>
                        </ul>
                    </div>

@*                    <script type="text/javascript"><!--mce:0--></script>
                    <div id="tabs">
                        <ul id="primarynav">
                            <li><a href="#tabs-ePermit" title="ePermitting Application">ePERMIT</a></li>
                            <li><a href="#tabs-BondEstimates" title="Bond Estimations">BOND ESTIMATES</a></li>
                            <li><a href="#tabs-Inspections" title="Field Inspections">INSPECTIONS</a></li>
                            <li><a href="#tabs-CoalPC" title="Permitting and Compliance">COAL P&amp;C</a></li>
                        </ul>

                        <div id="tabs-ePermit">
                            <h2>ePermit Application</h2>
                            <p>Placeholder for ePermit Application</p>
                        </div>
                        <div id="tabs-BondEstimates">
                            <h2>Bond Estimates</h2>
                            <p>Placeholder for Bond Estimates</p>
                        </div>
                        <div id="tabs-Inspections">
                            <h2>Inspections</h2>
                            <p>Placeholder for Inspections</p>
                        </div>
                        <div id="tabs-CoalPC">
                            <h2>Coal P &amp; C</h2>
                            <p>Placeholder for Coal P &amp; C</p>
                        </div>
                    </div>*@