<aside class="subnav">
    <ul class="subnav">
        <li>@*<a href="/ePermit">ePermit Menu</a>*@
			<ul id="menu" class="nav1">
				<li>
                    <a href="~~/ePermitAdmin">Admin</a>
					<ul class="nav2 admin" style="overflow: hidden; display: none;">
						<li> 
							<a href="~/ePermitAdmin/ApplicationForm">Application Form / Verification</a>						 
						</li>
						<li> 
							<a href="~/ePermitAdmin/ContactInformation">Contact Information</a>    						 
						</li>
						<li> 
							<a href="~/ePermitAdmin/Location">Location</a>    						 
						</li>
						<li> 
							<a href="~/ePermitAdmin/SurfaceMineralOwnership">Surface &amp; Mineral Ownership</a>    						 
						</li>
						<li> 
							<a href="~/ePermitAdmin/OwnershipControl">Ownership &amp; Control</a>    						 
						</li>
						<li> 
							<a href="~/ePermitAdmin/MineSiteInformation">Mine Site Information</a>    						 
						</li>
						<li> 
							<a href="~/ePermitAdmin/ApplicantDescriptionOfInterests">Applicant Description of Interests</a>   						 
						</li>
						<li> 
							<a href="~/ePermitAdmin/NonComplianceSuspensionPermits" title="Non-Compliance (Suspension, Revocations, Bond Forfeitures)">Non-Compliance</a>  						 
						</li>
						<li> 
							<a href="~/ePermitAdmin/ViolationsCessations">Violations &amp; Cessations</a>    						 
						</li>
						<li> 
							<a href="~/ePermitAdmin/LegalRightEnter">Legal Right to Enter</a>    						 
						</li>
						<li> 
							<a href="~/ePermitAdmin/StatusPrivateMineralSurfaceEstate">Status of Private Mineral/Surface Estate</a> 						 
						</li>
						<li> 
							<a href="~/ePermitAdmin/LandsUnsuitable">Lands Unsuitable</a>   						 
						</li>
                        <li> 
							<a href="~/ePermitAdmin/Exemptions">Exemptions</a>   						 
						</li>
                        <li> 
							<a href="~/ePermitAdmin/Timetable">Life of Mine / Estimated Mining Timetable</a>   						 
						</li>
						<li> 
							<a href="~/ePermitAdmin/Insurance">Insurance</a>    						 
						</li>
						<li> 
							<a href="~/ePermitAdmin/OtherPermits" title="Other Permits (Coal &amp; Non-Coal)">Other Permits</a>    						 
						</li>
						<li> 
							<a href="~/ePermitAdmin/PublicCopyApplication">Public Copy of Application</a>   						 
						</li>
						<li> 
							<a href="~/ePermitAdmin/ProofPublication">Proof of Publication</a>    						 
						</li>
						<li> 
							<a href="~/ePermitAdmin/Bonding">Bonding</a>    					 
						</li>
						<li> 
							<a href="~/ePermitAdmin/HistoricMining">Historic Mining</a>    						 
						</li>
					</ul>
				</li>
				<li><a href="~/ePermitBaseline">Baseline</a>
                    <ul class="nav2 baseline" style="overflow: hidden; display: none;">
                         <li> 
							<a href="~/ePermitBaseline/Timetable">Life of Mine / Estimated Mining Timetable</a>   						 
						</li>
                        <li> 
                        <a href="~/ePermitBaseline/CulturalResources">Cultural Resources</a>   
                        </li>
                        <li> 
                        <a href="~/ePermitBaseline/UniqueFormations">Unique/Special Characteristics & Geologic Formations</a>    
                        </li>
                        <li> 
                        <a href="~/ePermitBaseline/HydrologicInformation">Hydrologic Information</a>   
                        </li>
                        <li> 
                        <a href="~/ePermitBaseline/GeologicInformation">Geologic Information</a>  
                        </li>
                        <li> 
                        <a href="~/ePermitBaseline/ClimatologicalData">Climatological Data</a> 
                        </li>
                        <li> 
                        <a href="~/ePermitBaseline/VegetationSurvey">Vegetation Survey</a>     
                        </li>
                        <li> 
                        <a href="~/ePermitBaseline/WildlifeSurvey">Wildlife Survey</a>     
                        </li>
                        <li> 
                        <a href="~/ePermitBaseline/SoilSurvey">Soil Survey</a>     
                        </li>
                        <li> 
                        <a href="~/ePermitBaseline/PremineLandUse">Premine Land Use</a>   
                        </li>
                        <li> 
                        <a href="~/ePermitBaseline/PrimeFarmlandInvestigation">Prime Farmland Investigation</a>   
                        </li>
                        <li> 
                        <a href="~/ePermitBaseline/Protection">Protection of Public Parks and Historic Places</a>     
                        </li>
                        <li> 
                        <a href="~/ePermitBaseline/Relocation">Relocation or Use of Public Roads</a>     
                        </li>
                        <li> 
                        <a href="~/ePermitBaseline/AlluvialValleyFloors">Alluvial Valley Floors</a>   
                        </li>
                    </ul>
				</li>
				<li><a href="~/ePermitOperations">Operations</a>
                    <ul class="nav2 operations" style="overflow: hidden; display: none;">
                        <li> 
                        <a href="~/ePermitOperations/OperationsPlan">Operations Plan</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitOperations/TypeOfMining" title="Operations Plan - Type and Method of Mining">Type and Method of Mining</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitOperations/FacilitiesManagement" title="Operations Plan - Facilities Management Plan">Facilities Management Plan</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitOperations/Disposal" title="Operations Plan - Toxic and Undesirable Materials Disposal Plan">Toxic and Undesirable Materials Disposal Plan</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitOperations/FireContingencyPlan" title="Operations Plan - Fire Contingency Plan">Fire Contingency Plan</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitOperations/Compliance" title="Operations Plan - Compliance with Air &amp; Water Quality Laws">Compliance with Air &amp; Water Quality Laws</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitOperations/NoxiousWeedsManagementPlan" title="Operations Plan - Noxious Weed Management">Noxious Weed Management</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitOperations/BlastingPlan">Blasting Plan</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitOperations/AirPollutionControlPlan">Air Pollution Control</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitOperations/FishandWildlifePlan">Fish &amp; Wildlife Plan</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitOperations/PlansForPondsAndEmbankments">Plans for Ponds and Embankments</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitOperations/MiningNearUndergroundMining">Mining Near Underground Mining</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitOperations/Diversions">Diversions</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitOperations/PlansForDisposalOfExcessSpoil">Plans for Disposal of Excess Spoil</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitOperations/TransportationFacilitiesPlan" title="Transportation Facilities Plan (During Mining)">Transportation Facilities Plan</a>    
                         </li>
                        <li> 
                        <a href="~/ePermitOperations/CoalConservationPlan">Coal Conservation Plan</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitOperations/AugerMining">Auger Mining</a>    
 
                        </li>
                    </ul>
				</li>
				<li><a href="~/ePermitReclamation">Reclamation</a>
                    <ul class="nav2 reclamation" style="overflow: hidden; display: none;">
                        <li> 
                        <a href="~/ePermitReclamation/ReclamationPlan">Reclamation Plan</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitReclamation/ReclamationPostmineRevegetation">Postmine Land Use/Revegetation Types</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitReclamation/Timetable">Life of Mine / Estimated Mining Timetable</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitReclamation/ReclamationBondCalculation">Bond Calculation</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitReclamation/BackfillGradingPlan">Backfill &amp; Grading Plan</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitReclamation/DrainageBasinReclamationPlan">Drainage Basin Reclamation Plan</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitReclamation/SoilHandlingPlan">Soil Handling Plan</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitReclamation/RevegetationPlan">Revegetation Plan (Part I)</a> 
                        </li>
                        <li> 
                        <a href="~/ePermitReclamation/PostMineLandUse">Revegetation Plan (Part II)</a> 
                        </li>
                        <li> 
                        <a href="~/ePermitReclamation/PlanForSealingMineOpenings">Plan for Sealing Mine Openings</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitReclamation/FacilitiesReclamation">Facilities Reclamation Plan</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitReclamation/PlanForTheProtectionOfHydrologicBalance">Plan for the Protection of the Hydrologic Balance</a>    
 
                        </li>
                        <li> 
                        <a href="~/ePermitReclamation/PrimeFarmland">Prime Farmland Special Application</a>    
 
                        </li>
                    </ul>
				</li>
               <li><a href="~/ePermitMaps/Maps">Map Summary</a>
                    <ul class="nav2 maps" style="overflow: hidden; display: none;">
                        <li> 
						    <a href="~/ePermitMaps/Maps">Maps</a>						 
					    </li>
                    </ul>
                </li>               
				<li><a href="/ePermitPerformance">Performance Standards</a>
                    <ul class="nav2 performance" style="overflow: hidden; display: none;">
                        <li> 
                        <a href="~/ePermitPerformanceStandards/FiveHundreds">500's</a>  
                        </li>
                        <li> 
                        <a href="~/ePermitPerformanceStandards/SixHundreds">600's</a>  
                        </li>
                        <li> 
                        <a href="~/ePermitPerformanceStandards/SevenHundreds">700's</a>    
                        </li>
                        <li> 
                        <a href="~/ePermitPerformanceStandards/EightHundreds">800's</a>    
                        </li>
                        <li> 
                        <a href="~/ePermitPerformanceStandards/NineHundreds">900's (Underground Mining Only)</a>     
                        </li>
                    </ul>
				</li>
                <li><a href="~/ePermitCompleteness/Checklist">Completeness</a>
                    <ul class="nav2 completeness" style="overflow: hidden; display: none; ">
                        <li>
                            <a href="~/ePermitCompleteness/Checklist">Checklist</a>
                        </li>
                        </ul>
                </li>
                <li><a href="~/ePermitAcceptability/Acceptability">Acceptability</a>
                    <ul class="nav2 completeness" style="overflow: hidden; display: none; ">
                        <li>
                            <a href="~/ePermitAcceptability/Acceptability">Checklist</a>
                        </li>
                    </ul>
                </li>	
                <li><a href="~/ePermitCompleteness/">Audit Report</a></li>			
			</ul>
         </li>
    </ul>
</aside>