                    <ul id="tasks">
                        <li id="security"><a href="~/Account/Manage" title="Security">Security</a></li>
                        <li id="usertasks"><a href="" title="User Tasks">User Tasks</a></li>
                        <li id="metrics"><a href="" title="Metrics">Metrics</a></li>
                        <li id="search"><a href="" title="Search">Search</a></li>
                    </ul>