@using DEQMYCOAL.web.Models


<span id="user">Welcome @myCoalUser.GetInstance().FullName | <a href="https://dev.adfs.mt.gov/adfs/ls/?wa=wsignout1.0&wreply=https://dev.adfs.mt.gov/stsclient35/logon.aspx">LOGOUT</a></span>

