<fieldset class="setapart">
    <h3>Current Deficiency Version </h3>
    <textarea disabled class="planstextarea" placeholder="Current Version of Deficiency"></textarea>
    <br />
    <div>
        <button class="primary">Add to Final</button>
        <button class="secondary">Delete</button>
    </div>
</fieldset>
<fieldset class="setapart">
    <h3>Previous Deficiency Versions </h3>
    <table>
        <tr style="border: hidden;">
            <td>
                <textarea style="width: 61.2em;" disabled placeholder="Previous Version 3 of Deficiency"></textarea></td>
        </tr>
        <tr style="border: hidden;">
            <td>
                <textarea style="width: 61.2em;" disabled placeholder="Previous Version 2 of Deficiency"></textarea>
            </td>
        </tr>
        <tr style="border: hidden;">
            <td>
                <textarea style="width: 61.2em;" disabled placeholder="Previous Version 1 of Deficiency"></textarea></td>
        </tr>
    </table>
</fieldset>

