<fieldset class="setapart">
<p>Affected Rule</p>
    <div>
        <select class="dropdownList">
            <option>select a rule</option>
            <option>John RULES</option>
            <option>Ashley RULES</option>
            <option>Chris RULES</option>
            <option>Nate RULES</option>
            <option>Rennan RULES</option>
            <option>Regina RULES</option>
        </select>
    </div>
    <br />
  <p> Deficiency </p>
                <textarea class="planstextarea" placeholder="New Deficiency Description"></textarea>    
    </fieldset>
    <div>
        <button class="primary">Save</button>
    </div>
