<fieldset class="setapart">
    <p>You are marking this deficiency as resolved, are you sure?</p>
    <p>
        <input id="yes" type="radio" name="radios" value="yes" />Yes
     <input id="no" type="radio" name="radios" value="no" />No
    </p>

</fieldset>

<div>
    <button class="primary">Submit</button>
</div>
