<fieldset class="setapart">
    You are marking this deficiency as resolved, are you sure?
</fieldset>

<div>
    <button class="primary">Resolve</button>
    <button class="secondary">Cancel</button>
</div>
