@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutSecurity.cshtml";
}
<div id="home">
    <h2>Welcome to the DEQ ePermitting Portal for Coal and Uranium Mining</h2>

    <p>The ePermitting Portal allows you to find and manage all the information you need to know about Coal Mine Permitting and Compliance.</p>

    <h3>Announcements</h3>
    <ul>
            <li>The ePermitting Portal will be temporarily offline for maintenance between 8AM and 6PM December 25th.</li>
    </ul>
    <div>
        <h3>Activity Log</h3>
        <p style="margin:-10px 0 -10px 0;">
            <select>
                <option>All Permits</option>
                <option>C1979012</option>
                <option>C2371104</option>
                <option>B5798278</option>
            </select>
            Acivity Log Filter
        </p>
    </div>
    <ul>
        <li>03/05/2013 – Received Inspection Report for 02/21/2013 Inspection</li>
        <li>03/01/2013 – 2nd Round Completeness Deficiency received</li>
        <li>02/28/2013 – MR164 has been Approved</li>
    </ul>
    <h3>User Tasks Summary</h3>
    <ul>
        <li>9/15/2013 - Adequacy Review, C1979012-Spring Creek Coal Mine, MR269</li>
        <li>10/3/2013 - AVS Check Approval, C1993017-Bull Mountain Mine #1, AM3</li>
        <li>11/1/2013 - Completeness Review, C198005-Absaloka Coal Mine, RN7</li>
    </ul>
</div>
