@{
    ViewBag.Title = "Map Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>.ui-dialog .ui-dialog-titlebar-close span {display: block;margin: -9px;}</style>
<h1>Maps</h1>

<article>
    <h2>Maps Overview</h2>    
    <p>
        Is there a Master CAD drawing for this permit that contains all the layers required by the department?
        <input type="radio" name="MasterCad" value="yes" />Yes <input type="radio" name="MasterCad" value="no" />No
        
    </p>
    <fieldset class="setapart">
        <legend>Master CAD (Internal Review Only)</legend>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Uploaded</th>
                    <th>User</th>
                    <th style="text-align: center;">Edit&nbsp;/&nbsp;Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">Master CAD Drawing.cad</a></td>
                    <td>12/11/2013</td>
                    <td>Regina</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="text-right" style="text-align: right;">
            <button class="tertiary"><span class="plussymbol">+</span>&nbsp;Add New</button>
        </div>

    </fieldset>

    

    <fieldset class="setapart">
        <legend>Maps</legend>

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Date Uploaded</th>
                    <th>User</th>
                    <th style="text-align: center;">Edit&nbsp;/&nbsp;Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" checked="checked" /></td>
                    <td><a href="#">My First Attachment File.pdf</a></td>
                    <td>12/11/2013</td>
                    <td>Regina</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button></td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td><a href="#">My Second Attachment File.pdf</a></td>
                    <td>12/11/2013</td>
                    <td>Regina</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button></td>
                </tr>
            </tbody>
        </table>
        <div class="text-right" style="text-align: right;">
            <button class="tertiary"><span class="plussymbol">+</span>&nbsp;Add New</button>
        </div>

        
        @Html.Partial("_mapLayers")

        
        <script type="text/javascript">
            // temp script to check some of the boxes for show
            $(document).ready(function () {
                var boxes = $("input:checkbox");
                boxes[25].checked = true;
                boxes[6].checked = true;
                boxes[40].checked = true;
                boxes[41].checked = true;
            });
        </script>

            
    </fieldset>

</article>

