@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_LayoutSecurity.cshtml";
}


<article>
    <h2>Access Denied</h2>

    <p>
        Your registration has been denied by the department. If you feel you have meet the requirements of 
        this system—please reply to this email and state why you need access to the site. The department will 
        then re-evaluate the registration and make a final decision.
    </p>


</article>