@{
    ViewBag.Title = "Inactive Account";
    Layout = "~/Views/Shared/_LayoutSecurity.cshtml";
}


<article>
    <h2>Inactive Account</h2>

    <p>
        Your registration has been made inactive by the department. If you feel you feel this has been done in error
        please contact the department to re-evaluate your registration and make a final decision.
    </p>


</article>