
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_LayoutSecurity.cshtml";
}

<h2>Security / User Management</h2>

<article>
    
    @if (User.IsInRole("owner"))
    {
        Html.RenderPartial("UserTable");
    }

    <div id="AccountAccordion">
        @Html.Partial("MyInfo")

        @Html.Partial("MyNotifications")

        @if(User.IsInRole("owner")){
            Html.RenderPartial("myPermitsOwner");
        }

        @if(User.IsInRole("permitcoordinator")){
            Html.RenderPartial("myPermitsCoordinator");
        }

        @if (!User.IsInRole("permitcoordinator") && !User.IsInRole("owner")  && !User.IsInRole("management") && !User.IsInRole("reader") && !User.IsInRole("staff"))
        {
            Html.RenderPartial("myPermitsUser");
        }
        
        @if (User.IsInRole("owner"))
        {
            Html.RenderPartial("Permissions");
        }
    </div>
</article>

<script type="text/javascript">
    $(document).ready(function () {
        $("#AccountAccordion").accordion({ heightStyle: "content" });
        $("#PermitAccordion").accordion({ heightStyle: "content", collapsible: true, active: false });
    });
</script>

