<h3>Notifications</h3>
<div>
    <label><input type="checkbox" name="" value="" class="parent" />Receive Email All Notifications</label>
    <label><input type="checkbox" name="" value="" class="child" />Permitting Actions</label>
    <label><input type="checkbox" name="" value="" class="child" />Bond Estimates Actions</label>
    <label><input type="checkbox" name="" value="" class="child" />Inspection Reports</label>
    <label><input type="checkbox" name="" value="" class="child" />User Tasks</label>
    <label><input type="checkbox" name="" value="" class="child" />Account Changes</label>

    <p>
        <input type="submit" class="primary" value="Save" />
        <input type="reset" class="secondary" value="Reset" />
    </p>
</div>