<h3>my PERMITS</h3>
<div>
    <table>
        <thead>
            <tr>
                <th>Permit</th>
                <th>Read</th>
                <th>Edit</th>
                <th>Coordinator</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>C72185</td>
                <td><input type="checkbox" checked="checked" /></td>
                <td><input type="checkbox" checked="checked" /></td>
                <td><input type="checkbox" /></td>
                <td><button class="delete" title="Delete">Delete</button></td>
            </tr>
            <tr>
                <td>C81185</td>
                <td><input type="checkbox" checked="checked" /></td>
                <td><input type="checkbox" /></td>
                <td><input type="checkbox" /></td>
                <td><button class="delete" title="Delete">Delete</button></td>
            </tr>
            <tr>
                <td>C28754</td>
                <td><input type="checkbox" checked="checked" /></td>
                <td><input type="checkbox" checked="checked" /></td>
                <td><input type="checkbox" checked="checked" /></td>
                <td><button class="delete" title="Delete">Delete</button></td>
            </tr>
            <tr>
                <td>C37658</td>
                <td><input type="checkbox" /></td>
                <td><input type="checkbox" /></td>
                <td><input type="checkbox" /></td>
                <td><button class="delete" title="Delete">Delete</button></td>
            </tr>
            <tr>
                <td><select><option>C98338</option><option>C38375</option><option>C385783</option><option>C38975</option><option>C38674</option><option>C398753</option></select></td>
                <td><input type="checkbox" /></td>
                <td><input type="checkbox" /></td>
                <td><input type="checkbox" /></td>
                <td><button class="tertiary"><span class="plussymbol">+</span>Add To Permit</button></td>
            </tr>
        </tbody>
    </table>
    <input type="submit" class="primary" value="Save" />
    <input type="reset" class="secondary" value="Reset" />
</div>