@model DEQMYCOAL.web.ViewModels.SecurityVM
<h3>myPERMITS</h3>
<div>
    <div id="PermitAccordion">
        @foreach (var myPermits in Model.myPermitRegistrations.Where(p => p.PermitRegistration.Coordinator))
        {
            <h3>@myPermits.SiteName</h3>
            <div data-permit-key="@myPermits.PermitRegistration.PermitKey">
                
            </div>
        }
    </div>
</div>

