@model DEQMYCOAL.web.ViewModels.SecurityVM
<h3>myPERMITS</h3>
<div>
    <table id="myPermitsUser">
        <thead>
            <tr>
                <th>Permit</th>
                <th>Read</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var permit in Model.myPermitRegistrations)
            {
                <tr>
                    <td>@permit.SiteName</td>
                    <td><input type="checkbox" disabled="disabled" @if(permit.PermitRegistration.Read){<text>checked="checked"</text>} /></td>
                    <td><input type="checkbox" disabled="disabled" @if(permit.PermitRegistration.Edit){<text>checked="checked"</text>} /></td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <p>
            To request access to a permit please enter the Permit Access Code in the box below and click the Request Access button. The Permit Access Code
            must be obtained from the permit coordinator who manages the permit you wish to access. 
        </p>
        <input type="text" id="PermitCode" name="PermitCode" placeholder="Permit Access Code" /> <button id="RequestPermitAccess" class="primary" value="Request Access">Request Access</button>
    </div>
</div>