<h3>my PERMITS</h3>
<div>

    <div id="PermitAccordion">
        <h3>C1857</h3>
        <div>
            @Html.Partial("myPermitsCoordinatorPermitPanel")
        </div>
        <h3>C2687</h3>
        <div>
            @Html.Partial("myPermitsCoordinatorPermitPanel")
        </div>
        <h3>C8777</h3>
        <div>
            @Html.Partial("myPermitsCoordinatorPermitPanel")
        </div>
    </div>

</div>

