<p>
    Permit Access Code: <input type="text" placeholder="Permit Access Code" value="A7CB2" /> <input type="submit" value="Update" />
</p>
<br />
<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Read</th>
            <th>Edit</th>
            <th>Coordinator</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Al Ford</td>
            <td><input type="checkbox" checked="checked" /></td>
            <td><input type="checkbox" checked="checked" /></td>
            <td><input type="checkbox" /></td>
            <td><button class="delete" title="Delete">Delete</button></td>
        </tr>
        <tr>
            <td>Betty Lou</td>
            <td><input type="checkbox" checked="checked" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><button class="delete" title="Delete">Delete</button></td>
        </tr>
        <tr>
            <td>John Smith</td>
            <td><input type="checkbox" checked="checked" /></td>
            <td><input type="checkbox" checked="checked" /></td>
            <td><input type="checkbox" checked="checked" /></td>
            <td><button class="delete" title="Delete">Delete</button></td>
        </tr>
        <tr>
            <td>New Guy</td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><button class="delete" title="Delete">Delete</button></td>
        </tr>
    </tbody>
</table>
<input type="submit" class="primary" value="Save" />
<input type="reset" class="secondary" value="Reset" />