<h3>my PERMITS</h3>
<div>
    <table>
        <thead>
            <tr>
                <th>Permit</th>
                <th>Read</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>C1895</td>
                <td><input type="checkbox" disabled="disabled" checked="checked" /></td>
                <td><input type="checkbox" disabled="disabled" /></td>
            </tr>
            <tr>
                <td>C2983</td>
                <td><input type="checkbox" disabled="disabled" checked="checked" /></td>
                <td><input type="checkbox" disabled="disabled" checked="checked" /></td>
            </tr>
        </tbody>
    </table>

    <div>
        <p>
            To request access to a permit please enter the Permit Access Code in the box below and click the Request Access button. The Permit Access Code
            must be obtained from the permit coordinator who manages the permit you wish to access. 
        </p>
        <input type="text" id="PermitCode" name="PermitCode" placeholder="Permit Access Code" /> <input type="submit" value="Request Access" />
    </div>
</div>