@{
    ViewBag.Title = "Pending Account";
    Layout = "~/Views/Shared/_LayoutSecurity.cshtml";
}


<article>
    <h2>Pending Account</h2>

    <p>
        Your registeration for access to the myCOAL site has been received and is currently pending department approval. 
        Please check your email for confirmation on the department’s decision (usually takes 1-2 days from request).
    </p>


</article>