<h3>Permissions and Access</h3>


<div>
    <div class="float-left" style="width:45%;">
        <h4>Account Status</h4>
        <select>
            <option>Active</option>
            <option>Denied</option>
            <option>Inactive</option>
            <option>Pending</option>
        </select>
    </div>

    <div class="float-left" style="width:45%;">
        <h4>System Roles</h4>
        <label><input type="checkbox" name="" value="" />Owner</label>
        <label><input type="checkbox" name="" value="" />Management</label>
        <label><input type="checkbox" name="" value="" />Permit Editor</label>
        <label><input type="checkbox" name="" value="" />Permit Read Only</label>
        <label><input type="checkbox" name="" value="" />Permit Coordinator</label>
    </div>

    <p>
        <input type="submit" class="primary" value="Save" />
        <input type="reset" class="secondary" value="Reset" />
    </p>
</div>