@{
    ViewBag.Title = "Registration Received";
    Layout = "~/Views/Shared/_LayoutSecurity.cshtml";
}


<article>

    <h2>Registration Received</h2>

    <p>
        Thank you for registering for access to the myCOAL site. Your registration must be approved by the 
        department before access is granted. Please check your email for confirmation on the department’s 
        decision (usually takes 1-2 days from request).
    </p>

</article>