@{
    ViewBag.Title = "Unknown Account Status";
    Layout = "~/Views/Shared/_LayoutSecurity.cshtml";
}


<article>
    <h2>Unknown Account Status</h2>

    <p>
        Something unexpected occurred with your account information. Please contact the department for assistance. 
    </p>


</article>