<div id="lookup-wrapper" style="top:0;">
    <input id="lookup" type="text" placeholder="Lookup by Name, Company&hellip;" name="q">
    <input id="lookup-button" type="button">
</div>

<h3>Registered Users</h3>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Role</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Al Ford</td>
            <td>alford@gmail.com</td>
            <td>Permit Editor</td>
            <td>Active</td>
        </tr>
        <tr>
            <td>Jon Doe</td>
            <td>jdow@hotmai.com</td>
            <td>Permit Reader</td>
            <td>Inactive</td>
        </tr>
        <tr>
            <td>Mysterious Person</td>
            <td>weird@unknown.com</td>
            <td></td>
            <td>Denied</td>
        </tr>
        <tr>
            <td>Ashley Eichorn</td>
            <td>aeichorn@mt.gov</td>
            <td>Owner</td>
            <td>Active</td>
        </tr>
        <tr>
            <td>Chris Yde</td>
            <td>cyde@mt.gov</td>
            <td>Management</td>
            <td>Active</td>
        </tr>
    </tbody>
</table>
    