@{
    ViewBag.Title = "ePermit";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h1>ePermit</h1>

<article>

<h2>Current Permits</h2>
<table>
    <thead>
        <tr>
            <th>Permit ID</th>
            <th>Application Type</th>
            <th>App #</th>
            <th>Location</th>
            <th>Status</th>
            <th>Status Date</th>
        </tr>
    </thead>
    <tr>
        <td><a href="@Url.Content("~/ePermitAdmin/ApplicationForm")">C1979012</a></td>
        <td>Amendment</td>
        <td>AM2</td>
        <td>DEQ</td>
        <td>Technical Review</td>
        <td>11/25/2012</td>
    </tr>
    <tr>
        <td><a href="@Url.Content("~/ePermitAdmin/ApplicationForm")">C1979012</a></td>
        <td>Renewal</td>
        <td>SL9</td>
        <td>Company</td>
        <td>Approved</td>
        <td>6/18/2011</td>
    </tr>
    <tr>
        <td><a href="@Url.Content("~/ePermitAdmin/ApplicationForm")">C1979012</a></td>
        <td>Minor Revision</td>
        <td>MR153</td>
        <td>Company</td>
        <td>Draft</td>
        <td>11/15/2012</td>
    </tr>
</table>

        <button value="Add" class="modal2 primary">Add</button>
                <div class="dialogbox2" style="display: none;" title="Enter New Application">

                    <select id="PermitId" name="PermitId" style="padding-right: 0em;">
                        <option>Permit ID</option>
                        <option>C1978011</option>
                        <option>C1979012</option>
                        <option>C1981003E</option>
                        <option>C1983004CR</option>
                        <option>C1983007</option>
                        <option>C1984002</option>
                        <option>C1984003B</option>
                        <option>C1985003C</option>
                        <option>C1985005</option>
                        <option>C1986003A</option>
                        <option>C1986003D</option>
                        <option>C1986016</option>
                        <option>C1987001C</option>
                        <option>C1988004B</option>
                        <option>C1993017</option>
                        <option>C2011003F</option>
                        <option>C2012018</option>
                    </select>
                    <br />

                    <select id="Type" name="Type" style="padding-right: 0em;">
                        <option>Application Type</option>
                        <option>Amendment</option>
                        <option>Major Revision</option>
                        <option>Minor Revision</option>
                        <option>Renewal</option>
                    </select>
                    <br />

                    <select id="Status" name="Status" style="padding-right: 0em;">
                        <option disabled="disabled">Status</option>
                        <option disabled="disabled">Denied</option>
                        <option selected="selected">Draft</option>
                        <option disabled="disabled">Completeness Review</option>
                        <option disabled="disabled">Deficiency</option>
                        <option disabled="disabled">Technical Review</option>
                        <option disabled="disabled">Awaiting Decision</option>
                        <option disabled="disabled">Approved</option>
                        <option disabled="disabled">Pending Withdraw</option>
                        <option disabled="disabled">Withdrawn</option>
                    </select>

                    <label for="ApplicationNumber">Application Number</label>
                    <input type="text" title="ApplicationNumber" id="ApplicationNumber" name="ApplicationNumber" required="" style="display: inline-block; float: left;">
                    <br />

                    <textarea id='commentstextarea' name="commentstextarea" placeholder="Application Description"></textarea>
                    <div style="clear: both;">
                        <button class="primary">Save</button>
                        <button class="secondary">Cancel</button>
                    </div>

                </div>
        <button class="secondary">Delete Draft</button>
        <button class="secondary">Withdraw</button>






</article>